---
import Track from "./features/Track.astro";
import Access from "./features/Access.astro";
import Workflow from "./features/Workflow.astro";
---

<section id="features" class="container">
  <Track />
  <Access />
  <Workflow />
</section>
