---
import LogoImage from "../ui/LogoImage.astro";
import IconFacebook from "../icons/social/IconFacebook.astro";
import IconTwitter from "../icons/social/IconTwitter.astro";
import IconInstagram from "../icons/social/IconInstagram.astro";
---

<footer>
  <div class="footer-container">
    <div class="footer-logo-wrapper">
      <LogoImage class="footer-logo" />
    </div>

    <div class="links-grid">
      <div class="links-column">
        <a href="#">FAQs</a>
        <a href="#">Contact Us</a>
      </div>

      <div class="links-column">
        <a href="#">Privacy Policy</a>
        <a href="#">Press Kit</a>
      </div>

      <div class="links-column">
        <a href="#">Install Guide</a>
      </div>
    </div>

    <div class="social-links">
      <a href="#" aria-label="Facebook">
        <IconFacebook class="social-icon" />
      </a>
      <a href="#" aria-label="Twitter">
        <IconTwitter class="social-icon" />
      </a>
      <a href="#" aria-label="Instagram">
        <IconInstagram class="social-icon" />
      </a>
    </div>
  </div>
</footer>

<style>
  footer {
    width: 100%;
    background-color: var(--color-gray-50);
  }

  .footer-container {
    width: 100%;
    margin-top: 10.5rem;
    margin-inline: auto;
    padding: var(--spacing-350);
    text-align: center;

    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-200);
    justify-items: center;
  }

  .footer-logo {
    color: var(--color-green-500);
    width: 3.4375rem;
    height: 3.4375rem;
  }

  .links-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-150);

    font: var(--text-preset-8);
    letter-spacing: var(--text-preset-8-letter-spacing);
    color: var(--color-gray-700);
  }

  .links-column {
    display: grid;
    gap: var(--spacing-150);
  }

  .links-grid a {
    text-decoration: none;
    color: inherit;
  }

  .links-grid a:hover,
  .links-grid a:active {
    color: var(--color-green-500);
  }

  .social-links {
    width: 10rem;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
  }

  .social-icon {
    color: var(--color-gray-700);
    width: var(--spacing-150);
    height: var(--spacing-150);
  }

  @media (min-width: 768px) {
    .footer-container {
      margin-top: 9.5625rem;
    }
  }

  @media (min-width: 1200px) {
    .footer-container {
      margin-top: 9rem;
      padding: 0;
      width: 69.375rem;
      height: 9.375rem;

      grid-template-columns: auto 1fr auto;
      align-items: center;
      justify-items: start;
      gap: 8.125rem;
      text-align: left;
    }

    .links-grid {
      grid-template-columns: repeat(3, max-content);
      gap: var(--spacing-400);
    }

    .links-column {
      gap: var(--spacing-50);
    }

    .social-links {
      width: 7.5rem;
      justify-self: end;
    }
  }
</style>
