---
import devicesImg from "@/assets/images/image-devices.webp";
---

<div class="features">
  <div class="feature-header">
    <h2>Access Clipboard anywhere</h2>
    <p>
      Whether you’re on the go, or at your computer, you can access all your
      Clipboard snippets in a few simple clicks.
    </p>
  </div>
  <img src={devicesImg.src} alt="" class="access-image" />
</div>

<style>
  .features {
    width: 19.5rem;
    margin-top: 11.0625rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--spacing-450);
  }

  .feature-header {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
  }

  .access-image {
    width: 100%;
  }

  /* Tablet: 768px and up */
  @media (min-width: 768px) {
    .features {
      margin-top: 9.875rem;
      width: 38.5rem;
      gap: var(--spacing-500);
    }

    .feature-header {
      width: 38.5rem;
      p {
        font: var(--text-preset-8);
        letter-spacing: var(--text-preset-8-letter-spacing);
      }
    }

    .access-image {
      width: 38rem;
    }
  }

  /* Desktop: 1200px and up */
  @media (min-width: 1200px) {
    .features {
      margin-top: 10.3125rem;
      width: 50rem;
      gap: var(--spacing-600);
    }

    .access-image {
      width: 50rem;
    }
  }
</style>
